<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="wudo_starter">
  <description>Drupal coding standards for the custom module and theme.</description>

  <file>web/modules/custom</file>
  <file>web/themes/custom</file>

  <arg name="extensions" value="php,module,inc,install,theme,profile,info,yml"/>
  <arg name="colors"/>
  <arg value="sp"/>

  <exclude-pattern>*/node_modules/*</exclude-pattern>
  <exclude-pattern>*/dist/*</exclude-pattern>
  <exclude-pattern>*/storybook-static/*</exclude-pattern>

  <rule ref="Drupal"/>
  <rule ref="DrupalPractice"/>
</ruleset>
