@use "../../00-base/00-defaults/_02-breakpoints.scss" as breakpoint;
@use "../../00-base/00-defaults/_03-mixins.scss" as *;

.site-header {
  $root: &;

  --header-bg: var(--color-neutral-10, #f5f5f5);
  --utils-bg: var(--color-neutral-20, #e5e5e5);

  [data-theme="dark"] & {
    --header-bg: var(--color-neutral-90, #333333);
    --utils-bg: var(--color-black, #000000);
  }

  background-color: var(--header-bg);

  &__utils {
    padding-block: var(--space-sm, 0.5rem);
    background-color: var(--utils-bg);

    .region {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: flex-end;
      gap: var(--space-lg);
    }

  }

  &__main {
    &--content {
      position: relative; // for dropdown
      padding-block: var(--space-lg);
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between;
      gap: var(--space-lg);

      .contextual-region {
        position: static; // for dropdown

        .contextual {
          display: none; // for development purposes
        }
      }

      #{$root}__menu {
        @include overlay-hidden;

        order: 9999;
        flex: 0 1 100%;

        &.is-open {
          @include overlay-visible;
        }

        @include breakpoint.mobile {
          @include overlay-visible;

          order: 2;
          flex: 1;
        }
      }

      #{$root}__menu-toggle {
        display: flex;
      }
    }
  }
}
