.site-header {
  --header-bg: var(--color-neutral-10, #f5f5f5);
  --utils-bg: var(--color-neutral-20, #e5e5e5);
}
[data-theme=dark] .site-header {
  --header-bg: var(--color-neutral-90, #333333);
  --utils-bg: var(--color-black, #000000);
}
.site-header {
  background-color: var(--header-bg);
}
.site-header__utils {
  padding-block: var(--space-sm, 0.5rem);
  background-color: var(--utils-bg);
}
.site-header__utils .region {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
  gap: var(--space-lg);
}
.site-header__main--content {
  position: relative;
  padding-block: var(--space-lg);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-lg);
}
.site-header__main--content .contextual-region {
  position: static;
}
.site-header__main--content .contextual-region .contextual {
  display: none;
}
.site-header__main--content .site-header__menu {
  position: absolute;
  inset: 0 auto auto 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  order: 9999;
  flex: 0 1 100%;
}
.site-header__main--content .site-header__menu.is-open {
  position: revert;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
@media (min-width: 768px) {
  .site-header__main--content .site-header__menu {
    position: revert;
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    order: 2;
    flex: 1;
  }
}
.site-header__main--content .site-header__menu-toggle {
  display: flex;
}
