.link {
  --link-decoration-color: currentColor;
  --link-decoration-line: underline;
  --link-decoration-thickness: 0.0625rem;
  --link-decoration-offset: 0.125rem;
  color: var(--link-color, #0063a3);
  text-decoration-line: var(--link-decoration-line);
  text-decoration-color: var(--link-decoration-color);
  text-decoration-thickness: var(--link-decoration-thickness);
  text-underline-offset: var(--link-decoration-offset);
}
.link:hover {
  color: var(--link-hover-color, #171c1e);
}
.link--has-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.link--cta {
  color: var(--link-cta-color, #171c1e);
  --link-hover-color: var(--link-cta-hover-color, #171c1e);
  --link-decoration-color: var(--color-secondary, #fbad26);
  --link-decoration-thickness: 0.125rem;
  --link-decoration-offset: 0.5rem;
  font-weight: 600;
}
.link--cta:hover {
  --link-decoration-color: currentColor;
}
.link--list-item {
  justify-content: space-between;
}
