@use "../00-base/00-defaults/_02-breakpoints.scss" as breakpoint;
@use "../00-base/00-defaults/_03-mixins.scss" as *;

.layout-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.page-wrapper {
  width: 100%;
  max-width: var(--page-max-width);
  margin: 0 auto;
  padding: 0 var(--page-indention);
}

.grid-2 {
  @include layout-grid(2);
}

.grid-3 {
  @include layout-grid(3);
}

.grid-4 {
  @include layout-grid(4);
}

.layout-grid-auto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(30ch, 100%), 1fr));
  gap: clamp(1rem, 2vw, var(--page-indention));
  justify-content: flex-start;

  @include breakpoint.mobile {
    grid-template-columns: repeat(auto-fit, minmax(min(32ch, 100%), auto));
  }
}
